body {
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
    overflow-x: hidden;
    height: 50px;
}

header {
    top: 0;
    height: 757px;
    background: url("images/HeroImg.png") center center no-repeat;
    background-size: cover;
    overflow: hidden;
}


.navbar {
    position: absolute;
    z-index: 999;
    width: 100%;
}

.navbar-nav .nav-link {
    font-size: 13px;
    color: #4d4959;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 50px;
}

.navbar-nav .nav-link:hover {
    color: green;
}

.navbar-nav li:nth-child(1) {
    position: relative;
    top: 16px;
    left: 71px;
}

.navbar-nav li:nth-child(2) {
    position: relative;
    top: 16px;
    left: 39px;
}

.navbar-nav li:nth-child(3) {
    position: relative;
    top: 16px;
    left: 2px;
}

.navbar-nav li:nth-child(4) {
    position: relative;
    top: 20px;
    left: 3px;
}

.navbar-nav li:nth-child(5) {
    position: relative;
    top: 16px;
    left: 39px;
}

.navbar-nav li:nth-child(6) {
    position: relative;
    top: 16px;
    left: 2px;
}

.navbar-nav li:nth-child(7) {
    position: relative;
    top: 16px;
    left: -35px;
}

.navbar-brand .logo {
    width: 88px;
}

.intro {
    background: #f7f7f7;
    overflow: hidden;
}

.intro .intro-logo {
    width: 50px;
}

.intro h2 {
    position: relative;
    font-size: 19px;
    top: 27px;
    left: -1px;
    color: #353738;
    font-weight: bold;
    letter-spacing: 2px;
}

.intro p {
    position: relative;
    top: 38px;
    left: 116px;
    width: 1100px;
    font-size: 17px;
    color: #8f9293;
    line-height: 32px;
}
.portfolio {
    overflow: hidden;
}

.portfolio h2 {
    color: #353738;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 18px;
}

.portfolio-content {
    display: block;
    width: 87%;
    margin: auto;
}

.portfolio-big img {
    width: 100%;
}

.portfolio-big,
.portfolio-small {
    padding: 0;
}

.portfolio-big-small,
.portfolio-small-big {
    overflow: hidden;
    max-height: 502px;
}

.portfolio-small p {
    text-align: justify;
    font-size: 15px;
    color: #848789;
}

.portfolio-description {
    position: relative;
    top: 30px;
}

.portfolio-description:after {
    position: relative;
    top: 22.5px;
    right: 1px;
    content: '';
    display: block;
    width: 47px;
    height: 1px;
    background: #ccc;
    margin: auto;
    margin-top: 16px;
}

.portfolio-small-image:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    top: -920px;
    left: 1010px;
}

.portfolio-description img {
    width: 39px;
}

.portfolio-item-1 {
    overflow: hidden;
    position: relative;
    height: 100%;
    top: -505px;
    left: 1009px;
}

.portfolio-item-1 .portfolio-content {
    position: relative;
    top: 5px;
    left: 30px;
    line-height: 28px;
}

.portfolio-small-image {
    height: 292px;
    position: relative;
    top: 2.5px;
}

.portfolio-item-1 .portfolio-small-image img {
    width: 506px;
    height: 196px !important;
    position: relative !important;
    bottom: -101px !important;
    left: -20px;
}

.portfolio-description-logo {
    position: relative;
    bottom: 27px;
    left: -2px;
}

.portfolio-big {
    position: relative;
    top: -1px;
}

.portfolio-logo-1 img {
    position: absolute;
    width: 108px;
    top: 226px;
    left: 450px;
}

.small-big {
    position: relative;
    bottom: 450px;
}

.portfolio-item-2 .portfolio-description:after {
    position: relative;
    top: 21.5px;
    left: 0.5px;
}

.small-big .portfolio-description-logo {
    width: 30px;
    position: relative;
    left: 1px;
}

.portfolio-item-2 .portfolio-content {
    position: relative;
    top: 4px;
    left: 12px;
    line-height: 28px;
    width: 400px;
}

.portfolio-item-2 .portfolio-small-image {
    height: 300px;
}

.portfolio-item-2 .portfolio-small-image img {
    width: 512px;
    height: 190px;
    position: relative;
    bottom: -108px;
    left: -26px;
}

.portfolio-item-2 .portfolio-small-image:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    left: 121.5px;
    top: 17.5px;
    z-index: 10;
}

.portfolio-image-big-2 {
    position: relative;
    top: -567px;
    left: 505px;
    height: 568px;
}

.portfolio-logo-4 {
    position: absolute;
    top: -355px;
    left: 925px;
    z-index: 999;
    width: 167px;
}

.portfolio-big-small-big {
    height: 1000px;
    position: relative;
    top: -1016.5px;
}

.portfolio-logo-5 img {
    width: 200px;
    position: relative;
    top: -316px;
    left: 152px;
}

.portfolio-item-3 {
    position: relative;
    top: -600px;
    left: 500px;
}

.portfolio-item-3 .portfolio-logo-6 img {
    width: 22px;
    position: relative;
    top: -8px;
    left: 6px;
}

.portfolio-item-3 .portfolio-small-image img {
    width: 500px;
}

.portfolio-item-3 h2 {
    position: relative;
    top: 13px;
    left: 5px;
    letter-spacing: 2.8px;
}

.portfolio-item-3 .portfolio-content {
    position: relative;
    top: 17px;
    left: 5px;
    line-height: 28px;
    width: 376px;
}

.portfolio-image-bottom {
    position: relative;
    top: 120px;
    height: 190px;
    width: 504.5px !important;
    left: -15px;
}

.portfolio-item-3 .portfolio-description:after {
    position: relative;
    top: 35px;
    left: 5.5px;
}

.portfolio-item-3 .portfolio-small-image:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    left: 123.5px;
    top: 24px;
    z-index: 10;
}

.portfolio-big-right {
    position: relative;
    bottom: 1145.5px;
    left: 1009px;
}

.social {
    position: relative;
    top: -1335px;
    background: #f7f7f7;
    overflow: hidden;
}

.social img {
    width: 30.5px;
}

.social h2 {
    position: relative;
    top: 29px;
    left: -16px;
    font-weight: bold;
    font-size: 20px;
}

.social .name {
    position: relative;
    left: 5px;
}

.social .symbol {
    color: #ccc;
    position: relative;
    left: 12px;
    font-size: 17px;
}

.social .time {
    position: relative;
    left: 26px;
    font-size: 18px;
    font-weight: 100;
    color: #ccc;
}

.social .content {
    display: block;
    width: 76%;
    margin: auto;
    color: #848789;
}

.social p {
    position: relative;
    top: 37px;
    left: 14px;
    font-size: 21px;
}

.social .content::after {
    content: '';
    width: 0;
    height: 0;
    border-radius: 50%;
    display: block;
    top: 114px;
    left: 467px;
    position: relative;
    border: solid #a9afb3 6.1px;
}

.social-button img {
    width: 13px;
    position: relative;
    top: 95px;
}

.social-button-1 {
    left: 8px;
}

.social-button-2 {
    left: 10px;
}

.portfolio-2 {
    overflow: hidden;
    background: #282F35;
    position: relative;
    top: -1181px;
    margin: 0px;
    width: 1525px;
    padding: 0px;
}

.portoImg8,
.portoImg10,
.portoImg11,
.portoImg13,
.portoImg14,
.portoImg15 {
    width: 252px;
    height: 253px;
}

.portoImg8 {
    margin-left: 1px;
}

.portoImg10 {
    width: 251px;
    margin-left: -3px;
}

.portoImg11,
.portoImg14 {
    height: 100%;
}

.portoImg14 {
    margin-left: -3px;
}

.portoImg13 {
    width: 255px;
}

.portoImg15 {
    width: 252px;
    margin-left: -6px;
}

.portoImg9,
.portoImg12 {
    width: 504px;
}

.discover-btn {
    position: relative;
    left: -6px;
    top: -1px;
    padding: 82.5px 0px;
    width: auto;
    text-align: center;
}

.discover-btn a {
    color: #f5f5f5;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 60px;
    border: 1px solid #94979A;
    padding: 16px 50px 14.5px 50px;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 700;
}

.subscribe {
    position: relative;
    top: -1128px;
    overflow: hidden;
    padding: 50px 0;
    color: #fff;
    overflow: hidden;
}

.subscribe .logo img {
    width: 89px;
}

.subscribe h4 {
    margin: 29px 0;
    width: 899px;
    height: 33px;
    font-size: 22px;
    line-height: 34px;
    color: #848789;
    position: relative;
    left: 200px;
    top: -1px;
}

.subscribe input {
    position: relative;
    top: -1px;
    left: -2px;
    padding: 19.5px 102px 20px 102px;
    border: 1px solid #ccc;
    font-style: italic;
    background-color: #f7f7f7;
    font-size: 16px;
}

.subscribe input::placeholder {
    position: relative;
    left: -80px;
    font-size: 18px;
    color: #929292;
}

.subscribe .btn {
    padding: 16px 43px;
    position: relative;
    top: -3px;
    left: 2px;
    border-radius: 0;
    text-transform: uppercase;
    background: #63c19d;
    color: #fff;
    font-weight: 100;
    border: 0px solid #63c19d;
    font-size: 22px;
}

.footer{
    position: relative;
    top: -1100px;
	overflow: hidden;
	background: #f7f7f7;
	padding: 60px 0;
}

.footer h2{
    position: relative;
    left: 188px;
    top: 3px;
    line-height: 20px;
    font-size: 15px;
    color: #666;
}

.footer p{
    position: relative;
    left: 186px;
    top: -8px;
    font-size: 13px;
    color: #666;
}

.links {
    position: relative;
    left: 400px;
    top: 17px;
}

.footer .links .twitLogo{
    width: 33px;
    position: relative;
    left: 12.5px;
    top: 1px;
}

.footer .links .fbLogo{
    width: 33px;
    position: relative;
    left: 24px;
    top: 1px;
}

.footer .links .pintLogo{
    width: 33px;
    position: relative;
    left: 35px;
    top: 1px;
}

.last {
    position: relative;
    left: 560px;
}

.last p{
	color: #666;
	margin-top: 24px;
    font-size: 13px;
}

.last span{
    position: relative;
    left: -1px;
	margin: 0 4px;
}