body {
    font-family: 'Lato', sans-serif;
}

header {
    top: 0;
    height: 757px;
    background: url("images/HeroImg.png") center center no-repeat;
    background-size: cover;
}

.navbar {
    position: absolute;
    z-index: 999;
    width: 100%;
}

.navbar-nav .nav-link {
    font-size: 13px;
    color: #4d4959;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 50px;
}

.navbar-nav .nav-link:hover{
    color: green;
}

.navbar-nav li:nth-child(1) {
    position: relative;
    top: 16px;
    left: 71px;
}

.navbar-nav li:nth-child(2) {
    position: relative;
    top: 16px;
    left: 39px;
}

.navbar-nav li:nth-child(3) {
    position: relative;
    top: 16px;
    left: 2px;
}

.navbar-nav li:nth-child(4) {
    position: relative;
    top: 20px;
    left: 3px;
}

.navbar-nav li:nth-child(5) {
    position: relative;
    top: 16px;
    left: 39px;
}

.navbar-nav li:nth-child(6) {
    position: relative;
    top: 16px;
    left: 2px;
}

.navbar-nav li:nth-child(7) {
    position: relative;
    top: 16px;
    left: -35px;
}

.navbar-brand .logo {
    width: 88px;
}

