body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    height: 757px;
    background: url("images/HeroImg.png") center center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.navbar {
    position: absolute;
    z-index: 999;
    width: 100%;
}

.navbar-nav .nav-link {
    font-size: 13px;
    color: #4d4959;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 50px;
}

.navbar-nav .nav-link:hover {
    color: green;
}

.navbar-nav li:nth-child(1) {
    position: relative;
    top: 16px;
    left: 71px;
}

.navbar-nav li:nth-child(2) {
    position: relative;
    top: 16px;
    left: 39px;
}

.navbar-nav li:nth-child(3) {
    position: relative;
    top: 16px;
    left: 2px;
}

.navbar-nav li:nth-child(4) {
    position: relative;
    top: 20px;
    left: 3px;
}

.navbar-nav li:nth-child(5) {
    position: relative;
    top: 16px;
    left: 39px;
}

.navbar-nav li:nth-child(6) {
    position: relative;
    top: 16px;
    left: 2px;
}

.navbar-nav li:nth-child(7) {
    position: relative;
    top: 16px;
    left: -35px;
}

.navbar-brand .logo {
    width: 88px;
}

.intro {
    background: #f7f7f7;
    overflow: hidden;
    padding-top: 110px;
    padding-bottom: 150px;
}

.intro .intro-logo {
    width: 50px;
}

.intro h2 {
    position: relative;
    font-size: 18px;
    top: 27px;
    left: 1px;
    color: #353738;
    font-weight: 700;
    letter-spacing: 2.5px;
    word-spacing: 2px;
}

.intro p {
    position: relative;
    top: 38px;
    left: 156px;
    width: 1020px;
    font-size: 17px;
    color: #848789;
    line-height: 32px;
}

.portfolio {
    overflow: hidden;
}

.portfolio p {
    margin: auto;
    font-size: 15px;
    width: 380px;
    line-height: 29px;
    color: #848789;
    font-weight: 400;
    text-align: justify;
}

.portfolio h2 {
    color: #353738;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 18px;
}

.portfolio-content {
    font-size: 16px;
    color: #848789;
    font-weight: 400;
    line-height: 29px;
}

.portfolio-description:after {
    content: '';
    display: block;
    width: 47px;
    height: 1px;
    background-color: rgba(53, 55, 56, 0.2);
    margin: auto;
    margin-top: -63px;
    margin-left: 213px;
}

.portfolio-item-1 {
    overflow: hidden;
    height: 100%;
}

.portfolio-item-1 .portfolio-image-big {
    width: 1009px;
}

.portfolio-item-1 .left-image {
    display: inline-block;
    position: relative;
}

.portfolio-item-1 .left-image .portfolio-logo {
    position: absolute;
    left: 44.75%;
    top: 40.21%;
    width: 10.5%;
}

.portfolio-item-1 .portfolio-description-logo {
    position: relative;
    top: -28px;
    left: -1px;
    width: 40px;
}

.portfolio-item-1 .portfolio-description-text {
    position: relative;
    top: 94px;
    left: -6px;
}

.portfolio-item-1 p {
    position: relative;
    top: 3px;
    left: 0px;
}

.portfolio-item-1 .protoImg2 {
    width: 506px;
    position: relative;
    top: 179px;
    left: -35px;
}

.portfolio-item-1 .portfolio-description-image:before {
    content: '';
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    top: 52.5px;
    left: 113.5px;
    z-index: 999;
}

.portfolio-item-2 .portfolio-description {
    margin-top: 75px;
    position: relative;
    left: 40px;
}

.portfolio-item-2 h2 {
    position: relative;
    left: 1px;
    top: 10px;
}

.portfolio-item-2 .portfolio-description-logo {
    position: relative;
    top: -16px;
    left: -px;
    width: 30px;
}

.portfolio-item-2 .portfolio-content {
    position: relative;
    top: 14px;
    left: 1px;
}

.portfolio-item-2 .portfolio-description-image img {
    width: 504px;
    height: 190px;
    position: relative;
    top: 59px;
    left: -19px;
}

.portfolio-item-2 .portfolio-description-image:before {
    content: '';
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    top: -7px;
    left: 121.5px;
    z-index: 999;
}

.portfolio-item-2 .portfolio-description:after {
    content: '';
    display: block;
    width: 47px;
    height: 1px;
    background-color: rgba(53, 55, 56, 0.2);
    margin: auto;
    margin-top: 43px;
    margin-left: 189px;
}

.portfolio-item-2 .right-image {
    position: relative;
    left: 57px;
}

.portfolio-item-2 .right-image .portfolio-image-big {
    width: 1011px;
    height: 569px;
    position: absolute;
    display: inline-block;
}

.portfolio-item-2 .portfolio-logo {
    position: relative;
    width: 170px;
    left: 48.25%;
    top: 210px;
}

.portfolio-item-3 .left-image img {
    position: relative;
    top: 59px;
    height: 567px;
    width: 504.5px;
}

.portfolio-item-3 .left-image .portfolio-logo {
    width: 190px !important;
    height: 100%;
    position: relative;
    display: inline-block;
    top: -255px;
    left: 155px;
}

.portfolio-item-3 .right-image img {
    width: 500px;
    height: 567px;
    position: relative;
    top: 59px;
    left: 114px;
}

.portfolio-item-3 .portfolio-description {
    margin-top: 115px;
    margin-left: 160px;
    position: relative;
    left: 20px;
    top: 22px;
}

.portfolio-item-3 .portfolio-description .portfolio-description-logo {
    position: relative;
    top: -25px;
    left: -1px;
    width: 22px;
}

.portfolio-item-3 .portfolio-description p {
    position: relative;
    left: -58px;
    top: 0.5px;
}

.portfolio-item-3 .portfolio-description h2 {
    position: relative;
    top: -3px;
}

.portfolio-item-3 .portfolio-image-bottom img {
    width: 505px;
    position: relative;
    top: 174px;
    left: 38px;
}

.portfolio-item-3 .portfolio-image-bottom:before {
    content: '';
    height: 0;
    width: 0;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    top: 50px;
    left: 150px;
    z-index: 999;
}

.portfolio-item-3 .portfolio-description:after {
    content: '';
    display: block;
    width: 47px;
    height: 1px;
    background-color: rgba(53, 55, 56, 0.2);
    position: relative;
    top: 93px;
    left: -106px;
}

.social {
    padding-top: 116px;
    background: #f7f7f7;
    padding-bottom: 155px;
}

.social img {
    width: 30.5px;
}

.social h2 {
    position: relative;
    top: 28px;
    left: -6px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 19px;
}

.social .name {
    position: relative;
    left: 0px;
}

.social .symbol {
    color: #ccc;
    position: relative;
    left: 3px;
    font-size: 17px;
}

.social .time {
    position: relative;
    left: 15px;
    font-size: 18px;
    font-weight: 100;
    color: #ccc;
}

.social .content {
    display: block;
    width: 76%;
    margin: auto;
    color: #848789;
}

.social p {
    position: relative;
    top: 37px;
    left: 14px;
    font-size: 21px;
}

.social .content::after {
    content: '';
    width: 0;
    height: 0;
    border-radius: 50%;
    display: block;
    top: 113px;
    left: 468px;
    position: relative;
    border: solid #a9afb3 6.1px;
}

.social .social-icon {
    position: relative;
    top: -2px;
    left: 1px;
}

.social-button img {
    width: 13px;
    position: relative;
    top: 93px;
}

.social-button-1 {
    left: 8px;
}

.social-button-2 {
    left: 10px;
}

.portfolio-2 {
    overflow: hidden;
    background: #282F35;
    margin: 0px;
    width: 1515px;
    padding: 0px;
    position: relative;
    top: -2px;
}

.portoImg8,
.portoImg10,
.portoImg11,
.portoImg13,
.portoImg14,
.portoImg15 {
    width: 252px;
    height: 252px;
}

.portoImg8 {
    margin-left: 2px;
}

.portoImg10 {
    width: 251px;
    margin-left: -3px;
}

.portoImg11,
.portoImg14 {
    height: 100%;
}

.portoImg14 {
    margin-left: -3px;
}

.portoImg13 {
    width: 255px;
}

.portoImg15 {
    width: 252px;
    margin-left: -6px;
}

.portoImg9,
.portoImg12 {
    width: 505px;
    height: 253px;
}

.discover-btn {
    position: relative;
    left: 0px;
    top: -1px;
    padding: 82.5px 0px;
    width: auto;
    color: #ffffff;
    font-weight: 700;
}

.discover-btn a {
    position: relative;
    color: #f5f5f5;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 60px;
    border: 1px solid #94979A;
    padding: 16px 50px 14.5px 54px;
    font-size: 13px;
    letter-spacing: 2.8px;
    font-weight: 700;
}

.subscribe {
    position: relative;
    top: 50px;
    overflow: hidden;
    padding: 50px 0;
    color: #fff;
    overflow: hidden;
}

.subscribe .logo img {
    width: 89px;
}

.subscribe h4 {
    margin: 29px 0;
    height: 33px;
    font-size: 22px;
    color: #848789;
    position: relative;
    left: 2px;
    top: 4px;
}

.subscribe input {
    position: relative;
    top: -1px;
    left: -2px;
    padding: 19.5px 102px 20px 102px;
    border: 1px solid #ccc;
    font-style: italic;
    background-color: #fff;
    font-size: 16px;
}

.subscribe input::placeholder {
    position: relative;
    left: -81px;
    top: 1px;
    font-size: 18px;
    color: #929292;
}

.subscribe .btn {
    padding: 16px 43px;
    position: relative;
    top: -3px;
    left: 2px;
    border-radius: 0;
    text-transform: uppercase;
    background: #63c19d;
    color: #fff;
    font-weight: 100;
    border: 0px solid #63c19d;
    font-size: 22px;
}

.footer {
    position: relative;
    top: 103px;
    overflow: hidden;
    background: #f7f7f7;
    padding: 41px 0 22px 0;
}

.footer h2 {
    position: relative;
    left: 188px;
    top: 2px;
    line-height: 17px;
    font-size: 15px;
    color: #666;
}

.footer p {
    position: relative;
    left: 186px;
    top: -7px;
    font-size: 13px;
    line-height: 17px;
    color: #666;
}

.links {
    position: relative;
    left: 400px;
    top: 13px;
}

.footer .links .twitLogo {
    width: 33px;
    position: relative;
    left: 12.5px;
    top: 1px;
}

.footer .links .fbLogo {
    width: 33px;
    position: relative;
    left: 24px;
    top: 1px;
}

.footer .links .pintLogo {
    width: 33px;
    position: relative;
    left: 35px;
    top: 1px;
}

.last {
    position: relative;
    left: 561px;
    top: -5px;
}

.last p {
    color: #666;
    margin-top: 24px;
    font-size: 13px;
}

.last span {
    position: relative;
    left: -1px;
    margin: 0 4px;
}